<script>
var highchartsDefaultTheme = [
    '#206095',    // ocean blue
    '#27A0CC',    // sky blue
    '#003C57',    // night blue
    '#118C7B',    // green
    '#A8BD3A',    // spring green
    '#871A5B',    // plum purple
    '#F66068',    // pink
    '#746CB1',    // light purple
    '#22D0B6'     // turquoise
];

var highchartsAlternateTheme = [
    '#206095',    // ocean-blue
    '#27A0CC',    // sky blue
    '#871A5B',    // plum purple
    '#A8BD3A',    // spring green
    '#F66068'     // pink
];
</script>
<figure class="highcharts-figure">
    <div id="container"></div>
</figure>
<script>
    let config = {{config|tojson}};
    {% if data_url %}
        config["data"] = {"csvURL": "{{ data_url }}"}
    {% endif %}
    {% if chart.theme == "alternate" %}
        config["colors"] = highchartsAlternateTheme;
    {% else %}
        config["colors"] = highchartsDefaultTheme;
    {% endif %}
    Highcharts.chart('container', config);
</script>
