<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Chart preview: {{ chart }}</title>
        <link rel="stylesheet" href="{{ assetsUrl }}/css/main.css" />
        <link rel="stylesheet" media="print" href="{{ assetsUrl }}/css/print.css" />
        <meta name="theme-color" content="{{ themeColor }}" />
        <link rel="stylesheet" href="{{ static('css/main.css') }}">

        {% block favicons %}
            <!-- Favicons -->
            <link rel="icon" type="image/x-icon" href="{{ assetsUrl }}/favicons/favicon.ico" />
            <link rel="icon" type="image/png" href="{{ assetsUrl }}/favicons/favicon-32x32.png" sizes="32x32" />
            <link rel="icon" type="image/png" href="{{ assetsUrl }}/favicons/favicon-16x16.png" sizes="16x16" />
            <link rel="mask-icon" href="{{ assetsUrl }}/favicons/safari-pinned-tab.svg" color="#000000" />
            <link rel="apple-touch-icon" type="image/png" href="{{ assetsUrl }}/favicons/apple-touch-icon.png" sizes="180x180" />
            <link rel="manifest" href="{{ assetsUrl }}/favicons/manifest.json" />
        {% endblock %}

        {% block head %}
            <script src="https://code.highcharts.com/highcharts.js"></script>
            <script src="https://code.highcharts.com/modules/data.js"></script>
            <script src="https://code.highcharts.com/modules/exporting.js"></script>
            <script src="https://code.highcharts.com/modules/export-data.js"></script>
            <script src="https://code.highcharts.com/modules/accessibility.js"></script>
        {% endblock %}
    </head>
    <body>
        {% block body %}
            <div class="ons-page">
                <div class="ons-page__content">
                    {% include chart.template %}
                </div>
            </div>
        {% endblock %}
        <script src="{{ static('javascript/main.js') }}"></script>
    </body>
</html>
