{% extends "templates/pages/release_page.html" %}
{% from "components/table-of-contents/_macro.njk" import onsTableOfContents %}

{% block release_meta %}
    <div class="ons-grid__col ons-grid__col--sticky@m ons-col-4@m ons-col-12@s ons-u-p-no">
        <span class="ons-u-fs-r--b">{{ _("Release date") }}:</span>
        <span class="ons-u-nowrap">{{ _("Cancelled") }}</span>
    </div>
{% endblock %}

{% block release_note %}
    <div class="ons-u-pt-s ons-u-pb-m@m ons-u-pb-s@xxs@m">
        {% from "components/panel/_macro.njk" import onsPanel %}
    {# fmt:off #}
        {{
            onsPanel({
                "body": page.notice
            })
        }}
    {# fmt:on #}
    </div>
{% endblock %}

{% block release_content %}{% endblock %} {# we want to show this only for published content #}
{% block release_content_footer %}{% endblock %}  {# we want to show this only for published content #}
