[MASTER]
ignore=tests
jobs=1
load-plugins=pylint_django

[django]
django-settings-module=ons_alpha.settings.base

[MESSAGES CONTROL]
disable=C0114,C0115,C0116,R0903,W0401,W0614,W0212,R0801


[REPORTS]
output-format=colorized

[FORMAT]
max-line-length=100

[DESIGN]
max-parents=17
min-public-methods=0

[TYPECHECK]
# Allow wildcard imports (e.g., import * from module)
ignored-modules=*

[IMPORTS]
# Allow import statements that are not grouped
known-standard-library=

[LOGGING]
# Allow using the `warn` method in favor of `warning`
logging-modules=logging
