{% extends "layout/_template.njk" %}
{% from "components/cookies-banner/_macro.njk" import onsCookiesBanner %}
{% from "component_overrides/header/_macro.njk" import onsHeaderNew %}
{% from "components/external-link/_macro.njk" import onsExternalLink %}
{% from "component_overrides/footer/_macro.njk" import onsFooterNew %}

{% block meta %}
    {{ super() }}
    {% if SEO_NOINDEX %}
        <meta name="robots" content="noindex">
    {% endif %}
{% endblock meta %}


{% block head %}
    <link rel="stylesheet" href="{{ static('css/main.css') }}">
    {% if GOOGLE_TAG_MANAGER_ID and not request.is_preview %}
        <!-- Google Tag Manager -->
        <script>
            function loadGTM() {
                (function (w, d, s, l, i) {
                    w[l] = w[l] || [];
                    w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' });
                    var f = d.getElementsByTagName(s)[0],
                        j = d.createElement(s),
                        dl = l != 'dataLayer' ? '&l=' + l : '';
                    j.async = true;
                    j.src =
                        'https://www.googletagmanager.com/gtm.js?id=' +
                    i +
                    dl;
                    f.parentNode.insertBefore(j, f);
                })(window, document, 'script', 'dataLayer', '{{ GOOGLE_TAG_MANAGER_ID|escape }}');
            };

            var a = /^(.*)?\s*'usage':true\s*[^;]+(.*)?$/;
            if (document.cookie.match(a)) {
                loadGTM();
            }
        </script>
        <!-- End Google Tag Manager -->
    {% endif %}
{% endblock %}

{% block bodyStart %}
    {% if GOOGLE_TAG_MANAGER_ID and not request.is_preview %}
        <!-- Google Tag Manager (noscript) -->
        <noscript
        ><iframe
            src="https://www.googletagmanager.com/ns.html?id={{ GOOGLE_TAG_MANAGER_ID|escape }}"
            height="0"
            width="0"
            style="display:none;visibility:hidden"
        ></iframe
            ></noscript>
        <!-- End Google Tag Manager (noscript) -->
    {% endif %}
{% endblock %}

{# fmt:off #}
{% set languages = languages | default([
    {
        "url": "#",
        "isoCode": "en",
        "text": "English",
        "current": true
    },
    {
        "url": "#",
        "isoCode": "cy",
        "text": "Cymraeg",
        "current": false
    }
])
%}

{% set feedbackLink %}
    {{
        onsExternalLink({
            "url": PHASE_BANNER_FEEDBACK_URL,
            "text": "give feedback"
        })
    }}
{% endset %}

{% if page %}
    {% set body_class = ["template-", page.get_verbose_name()| lower | replace(" ", "-")] | join %}
{% else %}
    {% set body_class = '' %}
{% endif %}

{# navlinks are hard-code for the prototype #}
{% set pageConfig = {
    "bodyClasses": body_class,
    "header": {
        "title": page_title,
        "phase": {
            "badge": 'Alpha',
            "html": 'This is a new service. To help us improve it, ' + feedbackLink
        },
        "language": {
            "languages": languages
        },
        "mastheadLogoUrl": "/",
        "navLinks": {
            "id": "nav-links-external",
            "ariaLabel": 'Main menu',
            "ariaListLabel": 'Menu',
            "toggleNavButton": {
                "text": 'Menu',
                "ariaLabel": 'Toggle main menu'
            },
            "keyLinksList": [
                {
                    'text': 'Taking part in a survey?',
                    'description': 'It’s never been more important',
                    "url": False,
                },
                {
                    'text': 'Release calendar',
                    'description': 'It’s never been more important',
                    "url": False,
                },
                {
                    'text': 'Explore local statistics',
                    'description': 'It’s never been more important',
                    "url": False,
                }
            ],
            "itemsList": [
                {
                    "column": "1",
                    "linksList": [
                        {
                            "text": "People, population and community",
                            "url": False,
                            "children": [
                                {
                                    "text": "Armed forces community",
                                    "url": False,
                                },
                                {
                                    "text": "Births, deaths and marriages",
                                    "url": False,
                                },
                                {
                                    "text": "Crime and justice",
                                    "url": False,
                                },
                                {
                                    "text": "Cultural identity",
                                    "url": False,
                                },
                                {
                                    "text": "Education and childcare",
                                    "url": False,
                                },
                                {
                                    "text": "Elections",
                                    "url": False,
                                },
                                {
                                    "text": "Health and social care",
                                    "url": False,
                                },
                                {
                                    "text": "Household characteristics",
                                    "url": False,
                                },
                                {
                                    "text": "Housing",
                                    "url": False,
                                },
                                {
                                    "text": "Leisure and tourism",
                                    "url": False,
                                },
                                {
                                    "text": "Personal and household finances",
                                    "url": False,
                                },
                                {
                                    "text": "Population and migration",
                                    "url": False,
                                },
                                {
                                    "text": "Well-being",
                                    "url": False,
                                }
                            ]
                        },
                    ],
                },
                {
                    "column": "2",
                    "linksList": [
                        {
                            "text": "Business, industry and trade",
                            "url": False,
                            "children": [
                                {
                                    "text": "Business",
                                    "url": False,
                                },
                                {
                                    "text": "Changes to business",
                                    "url": False,
                                },
                                {
                                    "text": "Construction industry",
                                    "url": False,
                                },
                                {
                                    "text": "International trade",
                                    "url": False,
                                },
                                {
                                    "text": "IT and internet industry",
                                    "url": False,
                                },
                                {
                                    "text": "Manufacturing and production industry",
                                    "url": False,
                                },
                                {
                                    "text": "Retail industry",
                                    "url": TOPIC_PAGE_URL,
                                },
                                {
                                    "text": "Tourism industry",
                                    "url": False,
                                }
                            ]
                        },
                        {
                            "text": "Employment and labour market",
                            "url": False,
                            "children":
                            [
                                {
                                    "text": "People in work",
                                    "url": False,
                                },
                                {
                                    "text": "People not in work",
                                    "url": False,
                                }
                            ]

                        },
                    ]
                },
                {
                    "column": "3",
                    "linksList": [
                        {
                            "text": "Economy",
                            "url": False,
                            "children": [
                                {
                                    "text": "Economic output and productivity",
                                    "url": False,
                                },
                                {
                                    "text": "Government, public sector and taxes",
                                    "url": False,
                                },
                                {
                                    "text": "Gross Value Added (GVA)",
                                    "url": False,
                                },
                                {
                                    "text": "Investments, pensions and trusts",
                                    "url": False,
                                },
                                {
                                    "text": "Regional accounts",
                                    "url": False,
                                },
                                {
                                    "text": "Environmental accounts",
                                    "url": False,
                                },
                                {
                                    "text": "Gross Domestic Product (GDP)",
                                    "url": False,
                                },
                                {
                                    "text": "Inflation and price indices",
                                    "url": False,
                                },
                                {
                                    "text": "National accounts",
                                    "url": False,
                                }
                            ]
                        }
                    ]
                }
            ]
        }
    },
    "footer": {
        "rows": [
            {
                "itemsList": [
                    {
                        "text": 'Contact us',
                        "url": '#0'
                    },
                    {
                        "text": 'Cookies and privacy',
                        "url": '#0'
                    }
                ]
            }
        ],
        "oglLink": {
            "pre": 'All content is available under the',
            "link": 'Open Government Licence v3.0',
            "url": 'https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/',
            "post": ', except where otherwise stated'
        }
    }
}
%}
{# fmt:on #}

{% set page_title %}
    {% if current_site and page.pk == current_site.root_page.pk and current_site.site_name %}{{ current_site.site_name }} | {% endif %}{% block title %}{% if page.seo_title %}{{ page.seo_title }}{% else %}{{ page.title}}{% endif %}{% endblock %}{% block title_suffix %}{% if current_site and page.pk != current_site.root_page.pk and current_site.site_name %} | {{ current_site.site_name }}{% endif %}{% endblock %}
{% endset %}

{% block preHeader %}
    {# Use same logic as the header to determine the correct language #}
    {% set currentLanguage = pageConfig.header.language.languages | selectattr("current") | first %}
    {% set currentLanguageIsoCode = currentLanguage.isoCode %}

    {# fmt:off #}
    {% if COOKIE_BANNER_ENABLED %}
        {{
            onsCookiesBanner({
                'lang': currentLanguageIsoCode,
                'serviceName': COOKIE_BANNER_SERVICE_NAME,
                'settingsLinkText': 'Manage settings',
                'settingsLinkUrl': MANAGE_COOKIE_SETTINGS_URL,
            })
        }}
    {% endif %}
    {# fmt:on #}
{% endblock %}

{% block preMain %}
    {% if not IS_EXTERNAL_ENV %}
        {{ wagtailuserbar() }}
    {% endif %}
{% endblock %}

{% block header %}
    {{
    onsHeaderNew({
    "wide": pageConfig.wide,
    "fullWidth": pageConfig.fullWidth,
    "language": pageConfig.header.language,
    "button": pageConfig.header.signoutButton,
    "toggleNavigationButton": pageConfig.header.toggleNavigationButton,
    "navigation": pageConfig.header.navigation,
    "siteSearchAutosuggest": pageConfig.header.siteSearchAutosuggest,
    "browserBanner": pageConfig.header.browserBanner,
    "phase": pageConfig.header.phase,
    "navLinks": pageConfig.header.navLinks,
    "variants": pageConfig.header.variants,
    "classes": pageConfig.header.classes,
    "mastheadLogo": pageConfig.header.mastheadLogo,
    "mastheadLogoUrl": pageConfig.header.mastheadLogoUrl,
    "titleUrl": pageConfig.header.titleUrl,
    "title": pageConfig.header.title | default(pageConfig.title),
    "description": pageConfig.header.description,
    "titleAsH1": pageConfig.header.titleAsH1,
    "titleLogo": pageConfig.header.titleLogo
    })
    }}
{% endblock %}

{# Note that the footer links are hard-coded for the November prototype and do not link anywhere #}
{% block footer %}
    {# fmt:off #}
    {{
        onsFooterNew({
            "cols": [
                {
                    "title": 'Help',
                    "itemsList": [
                        {
                            "text": 'Accessibility',
                            "url": 'https://www.ons.gov.uk/help/accessibility'
                        },
                        {
                            "text": 'Cookies',
                            "url": MANAGE_COOKIE_SETTINGS_URL
                        },
                        {
                            "text": 'Privacy',
                            "url": 'https://www.ons.gov.uk/help/privacynotice'
                        },
                        {
                            "text": 'Terms and conditions',
                            "url": 'https://www.ons.gov.uk/help/termsandconditions'
                        }
                    ]
                },
                {
                    "title": 'About ONS',
                    "itemsList": [
                        {
                            "text": 'What we do',
                            "url": False
                        },
                        {
                            "text": 'Careers',
                            "url": False
                        },
                        {
                            "text": 'Contact us',
                            "url": False
                        },
                        {
                            "text": 'News',
                            "url": False
                        },
                        {
                            "text": 'Freedom of information',
                            "url": False
                        }
                    ]
                },
                {
                    "title": 'Connect with us',
                    "itemsList": [
                        {
                            "text": 'Twitter',
                            "external": true,
                            "url": False
                        },
                        {
                            "text": 'Instagram',
                            "external": true,
                            "url": False
                        },
                        {
                            "text": 'Facebook',
                            "external": true,
                            "url": False
                        },
                        {
                            "text": 'Linkedin',
                            "external": true,
                            "url": False
                        },
                        {
                            "text": 'Consultations',
                            "url": False
                        },
                        {
                            "text": 'Discussion forums',
                            "url": False
                        },
                        {
                            "text": 'Email alerts',
                            "url": False
                        }
                    ]
                }
            ],
            "legal": [],
            "oglLink": True,
            "footerLogo": {},
        })
    }}
    {# fmt:on #}
{% endblock %}

{% block scripts %}
    <script src="{{ static('js/main.js') }}"></script>
    {% if load_highcharts_js %}
        <script src="https://code.highcharts.com/highcharts.js"></script>
        <script src="https://code.highcharts.com/modules/data.js"></script>
        <script src="https://code.highcharts.com/modules/exporting.js"></script>
        <script src="https://code.highcharts.com/modules/export-data.js"></script>
        <script src="https://code.highcharts.com/modules/accessibility.js"></script>
    {% endif %}
{% endblock %}
