{# This template can be used in different places. In StreamField blocks
or directly in a page template. To use this template pass `call_to_action` into context.

Example:
    {% include "templates/components/cta/call-to-action.html" with call_to_action=call_to_action %}

#}
{% if call_to_action %}
    <div class="call-to-action">

        <h2>{{ call_to_action.title }}</h2>

        {{ call_to_action.summary|richtext() }}

        {{ image(call_to_action.image, "fill-450x300") }}

        <p><a href="{{ call_to_action.get_link_url() }}">{{ call_to_action.get_link_text() }}</a></p>

    </div>
{% endif %}
