{#
This is the template for the FeaturedDocumentWithChart block.
The appearance is similar to the featured document in the document list block, but although the back-end block code inherits from FeaturedDocumentList, the front-end here is different enough to create its own markup and avoid customising the document-list macro.
 #}

<section id="{{ slug }}" class="featured-chart">
    <h2 class="heading-2">{{ heading }}</h2>

    <div class="featured-chart__item">
        <h3 class="ons-u-fs-m ons-u-mt-no ons-u-mb-2xs">
            <a href="{{ document.title.url }}">
                {{ document.title.text }}
            </a>
        </h3>
        <ul class="featured-chart__metadata">
            {% if document.metadata.date %}
                <li class="featured-chart__item-attribute ons-u-fs-s">
                    <span class="ons-u-fw-b">{{ document.metadata.date.prefix }}:</span>
                    <time datetime="{{ document.metadata.date.iso }}">{{ document.metadata.date.short }}</time>
                </li>
            {% endif %}
            <li class="featured-chart__item-attribute ons-u-fs-s">
                <span class="ons-u-fw-b">{{ document.metadata.object.text }}</span>
            </li>
        </ul>
        <h4 class="heading-4">{{ value.chart_title }}</h4>
        <div data-chart-iframe
             id="featured-chart-id"
             data-url="{{ value.chart_url }}"
             data-title="{{ value.chart_title }}"
             class="featured-chart__embed-container">
            <iframe src="{{ value.chart_url }}"
                    title="{{ value.chart_title }}"
                    width="100%"
                    height="{{ value.chart_initial_height }}">
            </iframe>
        </div>

        <div class="featured-chart__item-description">
            {{ document.description }}
        </div>
    </div>
</section>
