<div class="ons-container headline-figures">
    <h2 class="headline-figures__heading ons-u-fs-l">Headline facts and figures</h2>
    <div class="headline-figures__grid headline-figures__grid--{{ value|length }}">
        {% for figure in value %}
            <div class="headline-figures__block">
                <h3 class="headline-figures__title">
                    {% if figure.title_link %}
                        <a href="{{ pageurl(figure.title_link) }}">
                    {% endif %}
                    {{ figure.title }}
                    {% if figure.title_link %}
                        </a>
                    {% endif %}
                </h3>
                {% if figure.image %}
                    <figure class="headline-figures__image-container">
                        <figcaption class="headline-figures__image-caption">{{ figure.image_caption }}</figcaption>
                        {{ srcset_image(figure.image, "format-png|width-{278,556}", class="headline-figures__image") }}
                    </figure>
                {% endif %}

                <p class="headline-figures__figure">{{ figure.figure }}</p>

                {% if figure.supporting_text %}
                    <p class="headline-figures__supporting-text ons-u-fs-r">{{ figure.supporting_text }}</p>
                {% endif %}
            </div>
        {% endfor %}
    </div>
</div>
