{# This is used to embed charts.
    pym.js handles the responsive aspect ratio for the iframe. #}

{% from "components/details/_macro.njk" import onsDetails %}

<h3 class="heading-3 chart-embed__heading">{{ value.title }}</h3>
<div class="chart-embed">
    <h4 class="heading-4">{{ value.chart_title }}</h4>
    <div data-chart-iframe
         id="{{ block_id }}"
         data-url="{{ value.url }}"
         data-title="{{ value.title }}">
        <iframe src="{{ value.url }}"
                title="{{ value.title }}">
        </iframe>
    </div>
    <h4 class="heading-4">{{ value.downloads_heading }}</h4>
    {{ value.downloads_content }}
    {% if value.footnotes %}
        {% set unique_id = ["footnotes-", block_id] | join %}
        {# fmt:off #}
        {{
            onsDetails({
                "id": unique_id,
                "title": "Footnotes",
                "content": value.footnotes
            })
        }}
        {# fmt:on #}
    {% endif %}
</div>
