{% macro onsHeaderNew(params) %}
    {% from "components/button/_macro.njk" import onsButton %}
    {% from "components/icon/_macro.njk" import onsIcon %}
    {% from "components/navigation/_macro.njk" import onsNavigation %}
    {% from "components/browser-banner/_macro.njk" import onsBrowserBanner %}
    {% set titleTag = "h1" if params.titleAsH1 else "div" %}
    {% set openingTag = "<" + titleTag %}
    {% set closingTag = "</" + titleTag + ">" %}
    {% set currentLanguageISOCode = "en" %}

    {% if params.language and params.language.languages %}
        {% set currentLanguage = params.language.languages | selectattr("current") | first %}
        {% set currentLanguageISOCode = currentLanguage.ISOCode %}
    {% endif %}

    <header
        class="ons-header{{ ' '+ params.classes if params.classes }}{% if params.variants is not string %}{% for variant in params.variants %}{{ ' ' }}ons-header--{{ variant }}{% endfor %}{% else %}{{ ' ' }}ons-header--{{ params.variants }}{% endif %}"
        role="banner"
    >
        {{
            onsBrowserBanner({
                "lang": currentLanguageISOCode,
                "wide": params.wide,
                "fullWidth": params.fullWidth
            })
        }}
        {% if params.phase %}
            {% from "components/phase-banner/_macro.njk" import onsPhaseBanner %}
            {{
                onsPhaseBanner({
                    "fullWidth": params.fullWidth,
                    "wide": params.wide,
                    "hideBadge": params.phase.hideBadge,
                    "badge": params.phase.badge,
                    "html": params.phase.html
                })
            }}
        {% endif %}
        <div class="ons-header__top">
            <div class="ons-container{{ ' ons-container--full-width' if params.fullWidth }}{{ ' ons-container--wide' if params.wide }}">
                <div
                    class="ons-header__grid-top ons-grid ons-grid--flex ons-grid--between ons-grid--vertical-center{{ ' '+ params.mastheadLogo.classes if params.mastheadLogo.classes }}{{ ' ons-grid--no-wrap ons-grid--gutterless' if not params.mastheadLogo.multipleLogos }}"
                >
                    <div class="ons-grid__col ons-col-auto">
                        {%- if not params.mastheadLogo.multipleLogos -%}

                            {% set mastheadLogo %}
                                <div class="ons-header__org-logo ons-header__org-logo--large">
                                    {% if params.mastheadLogo.large %}
                                        {{ params.mastheadLogo.large | safe }}
                                    {% else %}
                                        {{-
                                            onsIcon({
                                                "iconType": 'ons-logo-' + currentLanguageISOCode,
                                                "altText": 'Office for National Statistics homepage'
                                            })
                                        -}}
                                    {% endif %}
                                </div>
                                <div class="ons-header__org-logo ons-header__org-logo--small">
                                    {% if params.mastheadLogo.small %}
                                        {{ params.mastheadLogo.small | safe }}
                                    {% elif params.mastheadLogo.large %}
                                        {{ params.mastheadLogo.large | safe }}
                                    {% else %}
                                        {{-
                                            onsIcon({
                                                "iconType": 'ons-logo-stacked-' + currentLanguageISOCode,
                                                "altText": 'Office for National Statistics logo'
                                            })
                                        -}}
                                    {% endif %}
                                </div>
                            {% endset %}

                            {%- if params.mastheadLogoUrl -%}
                                <a class="ons-header__org-logo-link" href="{{ params.mastheadLogoUrl }}">{{ mastheadLogo | safe }}</a>
                            {% else %}
                                {{ mastheadLogo | safe }}
                            {% endif %}
                        {% else %}
                            <div class="ons-header__org-logo ons-header__org-logo--multi">
                                {% set logos = [params.mastheadLogo.multipleLogos.logo1, params.mastheadLogo.multipleLogos.logo2, params.mastheadLogo.multipleLogos.logo3] %}
                                {% for logo in logos %}
                                    {% set mastheadLogo %}
                                        {% if logo.logoImage != "ONS Logo" %}
                                            {{ logo.logoImage | safe }}
                                        {% else %}
                                            {{-
                                                onsIcon({
                                                    "iconType": 'ons-logo-stacked-' + currentLanguageISOCode,
                                                    "altText": 'Office for National Statistics logo'
                                                })
                                            -}}
                                        {% endif %}
                                    {% endset %}
                                    {% if logo.logoURL %}
                                        <a class="ons-header__org-logo-link" href="{{ logo.logoURL }}">{{ mastheadLogo | safe }}</a>
                                    {% else %}
                                        {{ mastheadLogo | safe }}
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {%- endif -%}
                    </div>
                    {# Note that navLinks replaces the previous serviceLinks #}
                    {% if params.navLinks %}
                        <div class="ons-header__links ons-grid__col ons-u-ml-auto">
                            {% if params.navLinks %}
                                {% if params.navLinks.itemsList | length > 1 %}
                                    {# Needs to be replaced with a custom button #}
                                    {% set buttonVariant = ["mobile", "text-link"] %}
                                    <div class="ons-grid__col ons-col-auto">
                                        {{
                                            onsButton({
                                                "text": params.navLinks.toggleNavButton.text | default("Account"),
                                                "classes": "ons-u-d-no ons-js-toggle-services",
                                                "type": "button",
                                                "variants": buttonVariant,
                                                "attributes": {
                                                    "aria-label": params.navLinks.toggleNavButton.ariaLabel | default("Toggle menu"),
                                                    "aria-controls": params.navLinks.id,
                                                    "aria-expanded": "false"
                                                }
                                            })
                                        }}
                                    </div>
                                {% endif %}
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
            </div>
            {% if params.navLinks %}
                <nav
                    class="ons-u-d-no ons-js-services-mobile-nav ons-u-pt-m navigation"
                    id="{{ params.navLinks.id }}"
                    aria-label="{{ params.navLinks.ariaLabel | default("Main navigation") }}"
                >
                    <div class="ons-container">
                        <ul class="ons-grid ons-grid--flex-gap navigation__key-links ons-list ons-list--bare ons-u-pb-m">
                            {% for item in params.navLinks.keyLinksList %}
                                <li class="ons-grid__col ons-col-4@m">
                                    {% if item.url %}
                                        <a href="{{ item.url }}">
                                    {% endif %}
                                            <h2 class="ons-u-fs-s--b ons-u-mb-no navigation__heading">{{ item.text }}</h2>
                                    {% if item.url %}
                                        </a>
                                    {% endif %}
                                    {% if item.description %}
                                        <p class="ons-u-fs-s ons-u-mb-no navigation__paragraph">{{ item.description }}</p>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="ons-container">
                        <ul class="ons-grid ons-grid--flex-gap ons-list ons-list--bare">
                            {% for item in params.navLinks.itemsList %}
                                <li class="ons-grid__col ons-col-4@m">
                                    {% for link in item.linksList %}
                                        {% if link.url %}
                                            <a
                                                href="{{ link.url }}"
                                                class="ons-header-service-nav__link"
                                            >
                                        {% endif %}
                                            <h2 class="ons-u-fs-s--b ons-u-mb-s navigation__heading">
                                                {{ link.text }}
                                            </h2>
                                        {% if link.url %}
                                            </a>
                                        {% endif %}
                                        {% if link.children %}
                                            <ul class="ons-list ons-list--bare ons-u-mb-l">
                                                {% for child in link.children %}
                                                    <li class="ons-u-mb-no">
                                                        {% if child.url %}
                                                            <a
                                                                href="{{ child.url }}"
                                                                class="ons-header-service-nav__link"
                                                            >
                                                        {% endif %}
                                                            <p class="ons-u-fs-s ons-u-mb-xs navigation__paragraph">
                                                                {{ child.text }}
                                                            </p>
                                                        {% if child.url %}
                                                            </a>
                                                        {% endif %}
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        {% endif %}
                                    {% endfor %}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </nav>
            {% endif %}
        </div>
        <div class="ons-header__main">
            <div class="ons-container{{ ' ons-container--full-width' if params.fullWidth }}{{ ' ons-container--wide' if params.wide }}">
                <div
                    class="ons-grid ons-grid--flex ons-grid--between ons-grid--vertical-center ons-grid--no-wrap{{ ' ons-grid--gutterless' if not params.button }}"
                >
                    <div class="ons-grid__col ons-col-auto ons-u-flex-shrink">
                        {% if params.titleLogo.large %}

                            {% set title %}
                                <div
                                    class="ons-header__title-logo ons-header__title-logo--large{{ ' ' + params.titleLogo.classes if params.titleLogo.classes else '' }}{{ ' ons-u-d-no@xxs@s' if params.titleLogo.small }}"
                                >
                                    {{ params.titleLogo.large | safe }}
                                </div>
                                {% if params.titleLogo.small %}
                                    <div
                                        class="ons-header__title-logo ons-header__title-logo--small ons-u-d-no@s{{ ' ' + params.titleLogo.classes if params.titleLogo.classes else '' }}"
                                    >
                                        {{ params.titleLogo.small | safe }}
                                    </div>
                                {% endif %}
                            {% endset %}

                            {% if params.titleUrl %}
                                <a class="ons-header__title-logo-link" href="{{ params.titleUrl }}">{{ title | safe }}</a>
                            {% else %}
                                {{ title | safe }}
                            {% endif %}
                        {% else %}

                            {% set title %}
                                {{ openingTag | safe }}
                                class="ons-header__title">{{ params.title }}{{ closingTag | safe }}
                            {% endset %}

                            {% if params.titleUrl %}
                                <a class="ons-header__title-link" href="{{ params.titleUrl }}">{{ title | safe }}</a>
                            {% else %}
                                {{ title | safe }}
                            {% endif %}
                        {% endif %}
                        {% if params.description %}
                            <p class="ons-header__description">{{ params.description }}</p>
                        {% endif %}
                    </div>

                    {% if params.button %}
                        {% if params.variants == 'neutral' %}
                            {% set buttonVariant = "ghost-dark" %}
                        {% else %}
                            {% set buttonVariant = "ghost" %}
                        {% endif %}
                        <div class="ons-grid__col ons-col-auto ons-u-flex-no-shrink">
                            {{
                                onsButton({
                                    "text": params.button.text,
                                    "classes": "ons-u-d-no@xxs@l" if params.navigation else "ons-u-d-no@xxs@m",
                                    "variants": buttonVariant,
                                    "name": params.button.name,
                                    "attributes": params.button.attributes,
                                    "url": params.button.url,
                                    "iconType": "exit",
                                    "iconPosition": "after"
                                })
                            }}
                        </div>
                    {% endif %}
                    {% if params.navigation or params.siteSearchAutosuggest %}
                        <div class="ons-grid__col ons-col-auto ons-u-flex-no-shrink">
                            {% if params.siteSearchAutosuggest %}
                                {% if params.variants == 'neutral' %}
                                    {% set buttonVariant = ["small", "ghost-dark"] %}
                                {% else %}
                                    {% set buttonVariant = ["small", "ghost"] %}
                                {% endif %}
                                <span class="ons-grid ons-u-d-no@xxs@xs ons-u-ml-no ons-u-d-no@l">
                                    {{
                                        onsButton({
                                            "text": "Search",
                                            "classes": "ons-btn--search ons-u-ml-xs ons-u-d-no ons-js-toggle-search",
                                            "variants": buttonVariant,
                                            "iconType": "search",
                                            "iconPosition": "only",
                                            "attributes": {
                                                "aria-label": "Toggle search" ,
                                                "aria-controls": "ons-site-search",
                                                "aria-expanded": "false"
                                            }
                                        })
                                    }}
                                </span>
                            {% endif %}
                            {% if params.navigation.toggleNavigationButton %}
                                {% set buttonVariant = ["mobile", "ghost"] %}
                                {{
                                    onsButton({
                                        "text": params.navigation.toggleNavigationButton.text,
                                        "classes": "ons-u-ml-xs ons-u-d-no ons-js-navigation-button ons-u-d-no@l",
                                        "variants": buttonVariant,
                                        "attributes": {
                                            "aria-label": params.navigation.toggleNavigationButton.ariaLabel | default("Toggle main menu") ,
                                            "aria-controls": params.navigation.id,
                                            "aria-expanded": "false"
                                        }
                                    })
                                }}
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        {% if params.navigation %}
            {{ onsNavigation(params) }}
        {% endif %}
    </header>
{% endmacro %}
