@use 'config' as *;

// overrides to ons breadcrumb styles
.ons-breadcrumbs {
    padding: rem-spacing(16) 0;

    &__items {
        margin-bottom: rem-spacing(-8);
    }

    &__item {
        padding-bottom: rem-spacing(8);
    }
}
