@use 'config' as *;

// overrides to ons breadcrumb styles
.ons-breadcrumbs {
    padding: rem-sizing(16) 0;

    &__items {
        margin-bottom: rem-sizing(-8);
    }

    &__item {
        padding-bottom: rem-sizing(8);
        line-height: 1.714;
    }

    // breadcrumbs need to be white on the dark blue background in the blue hero component
    &__link {
        .template-information-page & {
            color: var(--ons-color-white);
            text-decoration-color: var(--ons-color-white);
        }
    }
}
