@use 'config' as *;

// overrides to ons breadcrumb styles
.ons-breadcrumbs {
    padding: rem-sizing(16) 0;

    &__items {
        margin-bottom: rem-sizing(-8);
    }

    &__item {
        padding-bottom: rem-sizing(8);
        line-height: 1.714;
    }
}
