@use 'config' as *;

// overrides the ons button styles
.ons-btn {
    &--text-link {
        @include media-query('l') {
            display: inline-block;
        }

        .ons-btn__inner {
            font-weight: 700;
        }

        .ons-icon {
            width: rem-spacing(16);
            height: rem-spacing(16);
            margin-top: 0;
        }
    }
}
