@use 'config' as *;

// overrides to ons header styles
.ons-header {
    &__grid-top {
        padding: 0;
    }

    &__org-logo {
        padding: rem-spacing(20) 0;

        @include media-query('l') {
            padding: rem-spacing(24) 0;
        }
    }
}
