@use 'sass:list';

@use 'variables' as *;
@use 'functions' as *;

@mixin media-query($queries...) {
    @each $query in $queries {
        @each $breakpoint in $breakpoints {
            $name: list.nth($breakpoint, 1);
            $declaration: list.nth($breakpoint, 2);

            @if $query == $name and $declaration {
                @media only screen and #{$declaration} {
                    @content;
                }
            }
        }
    }
}

// The font-size and line height for heading twos in the design system don't match the prototype figma file
// where the font-size is 26px at mobile as well as at desktop
@mixin heading-2 {
    font-size: rem-sizing(26);
    line-height: 1.385;
    margin-bottom: rem-sizing(16);
}

// Ditto for heading 3s which have a different font-size and line height at mobile

@mixin heading-3 {
    font-size: rem-sizing(22);
    line-height: 1.455;
}
