@use 'config' as *;

.bulletin-header {
    // this colour is in figma but not in the design system
    background-color: $color--pale-grey;
    position: relative;
    padding-bottom: rem-sizing(64);
    margin-bottom: rem-sizing(24);

    @include media-query('m') {
        margin-bottom: rem-sizing(40);
    }

    &::before {
        position: absolute;
        inset: 0;
        width: 150%;
        height: 100%;
        left: -40%;
        border-radius: 0 0 50% 50%;
        background-color: var(--ons-color-grey-5);
        content: '';

        @include media-query('l') {
            border-radius: 0 0 80% 50%;
            left: -25%;
            width: 130%;
        }
    }

    &__doc-type {
        font-size: rem-sizing(24);
        line-height: 1.333;
        font-weight: 700;
        color: var(--ons-color-ocean-blue);
        margin-bottom: 0;

        @include media-query('m') {
            font-size: rem-sizing(26);
            line-height: 1.384;
        }
    }

    &__heading {
        line-height: 1.375;
        margin-bottom: rem-sizing(40);

        @include media-query('m') {
            line-height: 1.1667;
            margin-bottom: rem-sizing(16);
        }
    }

    &__kitemark {
        margin-bottom: rem-sizing(16);

        @include media-query('l') {
            text-align: right;
        }
    }

    &__accreditation-link {
        display: inline-block;
    }

    &__accreditation-logo {
        // compensates for whitespace in logo
        position: relative;
        right: rem-sizing(10);

        @include media-query('l') {
            right: rem-sizing(-10);
        }
    }

    &__summary {
        margin-bottom: rem-sizing(16);

        @include media-query('l') {
            margin-bottom: rem-sizing(40);
        }
    }

    &__releases {
        display: grid;
        column-gap: rem-sizing(40);
        row-gap: rem-sizing(8);

        @include media-query('l') {
            grid-template-rows: 1fr 1fr;
            grid-template-columns: 1fr 1fr 1fr;
            grid-auto-flow: column;
        }
    }

    &__releases-label {
        margin-right: 16px;
    }
}
