@use 'config' as *;

.button-nav {
    padding: 0 rem-sizing(24);
    height: 67px;
    display: flex;
    align-items: center;

    @include media-query('l') {
        height: 72px;
    }

    &:focus {
        background-color: var(--ons-color-focus);
    }

    &[aria-expanded='true'],
    &:focus &:active {
        background-color: var(--ons-color-branded-tint);
    }

    // override design system focus styles
    &:focus .ons-btn__inner,
    &:active:focus .ons-btn__inner,
    &.active:focus .ons-btn__inner {
        /* stylelint-disable declaration-no-important */
        box-shadow: none !important;
        background-color: transparent !important;
        /* stylelint-enable declaration-no-important */
    }
}
