@use 'config' as *;

.footer {
    &__body {
        background-color: var(--ons-color-grey-100);
        color: var(--ons-color-grey-5);
        padding: rem-spacing(32) 0 rem-spacing(40);
    }

    a,
    a:hover:not(:focus) {
        color: var(--ons-color-grey-5);
        text-decoration-color: var(--ons-color-grey-5);
    }

    &__heading {
        line-height: 1.777;
        margin-bottom: rem-spacing(8);

        @include media-query('l') {
            line-height: 2;
        }
    }

    &__list {
        line-height: 1.555;
        margin-bottom: rem-spacing(-8);

        li {
            margin-top: 0;
            padding-bottom: rem-spacing(8);
            margin-bottom: 0;
        }
    }

    &__hr {
        margin-top: rem-spacing(40);
        margin-bottom: rem-spacing(32);
    }

    &__licence {
        font-size: 1rem;
        display: flex;
        flex-direction: column;
        row-gap: rem-spacing(24);
        column-gap: rem-spacing(16);
        margin-bottom: 0;

        @include media-query('l') {
            flex-direction: row;
            align-items: center;
        }
    }

    &__ogl-img {
        margin-right: 0;
        margin-bottom: 0;
    }

    &__external-link {
        // overriding external icon colour styles from design system
        &.ons-external-link {
            .ons-icon {
                fill: var(--ons-color-grey-5);
            }

            &:hover {
                .ons-icon {
                    fill: var(--ons-color-grey-5);
                }
            }
        }
    }
}
