@use 'config' as *;

/* New navigation styling for November protoype */

.navigation {
    background-color: var(--ons-color-branded-tint);
    width: 100%;
    margin-bottom: rem-spacing(16);
    padding-top: rem-spacing(40);

    &__key-links {
        border-bottom: 1px solid var(--ons-color-ocean-blue);
        row-gap: rem-spacing(16);
        padding-bottom: rem-spacing(16);
        margin-bottom: rem-spacing(20);

        @include media-query('l') {
            padding-bottom: rem-spacing(24);
        }
    }

    &__child-list {
        margin-bottom: rem-spacing(32);
    }

    &__link {
        display: inline-block;

        // override design system focus style
        &:focus {
            /* stylelint-disable declaration-no-important */
            box-shadow: none !important;
            text-decoration: underline !important;
            color: var(--ons-color-text-link) !important;
            /* stylelint-enable declaration-no-important */
        }
    }

    &__heading,
    &__paragraph {
        line-height: 1.714;
    }

    &__heading {
        margin-bottom: rem-spacing(16);

        &--key-link {
            margin-bottom: 0;
        }
    }

    &__paragraph {
        margin-bottom: rem-spacing(8);

        &--key-link {
            margin-bottom: 0;
        }
    }
}
