
{% if page %}
    {% set ancestors = page.get_ancestors().filter(depth__gt=1) %}
    {% if ancestors|length %}
        {% from "components/breadcrumbs/_macro.njk" import onsBreadcrumbs %}

        {% set breadcrumbs=[] %}

        {% for item in ancestors %}
            {% if item.depth == 2 %}
                {% do breadcrumbs.append({"url": "/", "text": _("Home")}) %}
            {% elif item.specific_class.show_in_breadcrumbs %}
                {% do breadcrumbs.append({"url": pageurl(item), "text": item.title}) %}
            {% endif %}
        {% endfor %}
        {# fmt:off #}
            {{
                onsBreadcrumbs({
                    "ariaLabel": 'Breadcrumbs',
                    "itemsList": breadcrumbs
                })
            }}
        {# fmt:on #}
    {% endif %}
{% endif %}
