// As seen on https://www.gov.uk/government/news/government-cyber-security-advisory-board
.govuk-share {
    color: $govuk-link-colour;

    &__list {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    &__item {
        margin-right: 30px;
        color: $govuk-link-colour;

        &:last-child {
            margin-right: 0;
        }
    }

    &__link {
        display: inline-flex;
        align-items: center;
        text-decoration: none;
        font-weight: $govuk-font-weight-bold;
    }

    &__icon {
        width: 30px;
        height: 30px;
        line-height: 30px;
        margin-right: 10px;
    }
}
