// Based on an unfinished GDS component design
// https://github.com/alphagov/govuk-design-system-backlog/issues/113#issuecomment-390905761

.govuk-card {
    display: block;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 3px solid $govuk-brand-colour;
    box-sizing: border-box;
    background-color: $govuk-canvas-background-colour;

    &:hover {
        background-color: darken($govuk-canvas-background-colour, 5%);

        h2,
        p {
            text-decoration: underline;
            text-decoration-color: $govuk-link-active-colour;
        }
    }

    &:focus {
        // Override the !important focus colour for the <a>, as the link focus colour is darker than the typical focus colour
        /* stylelint-disable declaration-no-important */
        background-color: $govuk-focus-colour !important;
        /* stylelint-enable declaration-no-important */
        border-bottom: 3px solid govuk-colour('black');
    }

    &__hero {
        line-height: 0;

        img {
            max-width: 100%;
            height: auto;
        }
    }

    &__content {
        padding: 15px 15px 0 15px;
    }

    &__actions {
        padding: 15px 15px 0 15px;
    }
}
