.govuk-related-navigation {
    border-top: 2px solid $govuk-brand-colour;
    margin-bottom: 60px;

    &__title {
        margin-top: 15px;
        margin-bottom: 10px;
    }

    &__link-list {
        padding: 0;
        margin: 0;
        list-style: none;
        margin-bottom: 1.25em;
    }

    &__link {
        margin-top: 15px;
        margin-bottom: 0;
        padding: 0;
    }
}
