// Based on the pagination component used by the Government Publishing Service
// https://components.publishing.service.gov.uk/component-guide/previous_and_next_navigation

.govuk-pagination {
    display: block;
    margin: 50px 0;

    &__list {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    &__link {
        display: block;
        text-decoration: none;
        padding-bottom: 20px;

        &:hover,
        &:active {
            background-color: $govuk-canvas-background-colour;
        }
    }

    &__link-title {
        display: block;
        border-top: 1px solid $govuk-border-colour;
        padding-top: 15px;
    }

    &__link-icon {
        display: inline-block;
        margin-bottom: 1px;
        height: 0.482em;
        width: 0.63em;
        fill: $govuk-secondary-text-colour;
        vertical-align: baseline;
    }

    &__link-text {
        margin-left: 10px;
        font-weight: $govuk-font-weight-bold;
    }

    &__link-label {
        display: inline-block;
        margin-top: 0.1em;
        margin-left: 25px;
        text-decoration: underline;
        text-decoration-thickness: max(1px, 0.0625rem);
        text-underline-offset: 0.1em;

        @include govuk-media-query($from: tablet) {
            margin-left: 30px;
        }
    }
}
