.govuk-part-title {
    // Used in inline-index page
    // Taken from gov.uk website, 2022 https://www.gov.uk/maternity-pay-leave
    font-size: 18px;
    line-height: 1.1111111111;
    margin-bottom: 15px;
    margin-top: 15px;

    @include govuk-media-query($from: tablet) {
        margin-bottom: 20px;
        margin-top: 20px;
        font-size: 27px;
    }
}

// Used for spacing on content inline-index-pages and information pages
// Spacing scale: https://design-system.service.gov.uk/styles/spacing/#the-responsive-spacing-scale
.govuk-responsive-bottom-margin {
    @include govuk-responsive-margin(8, 'bottom');
}
