{% extends "templates/base_page.html" %}

{% from "components/table-of-contents/_macro.njk" import onsTableOfContents %}

{% block main %}
    <div class="ons-u-fs-m ons-u-mt-s ons-u-pb-xxs release__document-type">Bulletin</div>
    <h1 class="ons-u-fs-xxxl ons-u-mb-m">
        <span>{{ page.title }}</span>
        {% if page.is_accredited %}
            <a href="https://uksa.statisticsauthority.gov.uk/about-the-authority/uk-statistical-system/types-of-official-statistics/" class="national-statistics__link ons-u-ml-s">
                <img src="https://cdn.ons.gov.uk/assets/images/ons-logo/kitemark/v2/uksa-kitemark-en.svg" alt="UK Statistics Authority Kitemark" class="osr__logo" width="90">
            </a>
        {% endif %}
    </h1>

    <div class="ons-grid ons-u-ml-no">
        {% block release_meta %}
            <div class="ons-grid__col ons-grid__col--sticky@m ons-col-4@m ons-col-12@s ons-u-p-no">
                <span class="ons-u-fs-r--b">{{ _("Release date") }}:</span>
                <span class="ons-u-nowrap">{{ page.release_date|date("j F Y") }}</span>
            </div>
            {% if page.next_release_date %}
                <div class="ons-grid__col ons-col-8@m ons-col-12@s ons-u-p-no@xxs@m">
                    <span class="ons-u-fs-r--b">{{ _("Next release") }}:</span>
                    <span class="ons-u-nowrap">{{ page.next_release_date|date("j F Y") }}</span>
                </div>
            {% endif %}

        {% endblock release_meta %}
    </div>

    <div class="ons-grid ons-js-toc-container ons-u-ml-no ons-u-mt-s">
        {% if page.updates %}
            {% include_block page.updates %}
        {% endif %}

        <div class="ons-grid__col ons-grid__col--sticky@m ons-col-4@m ons-u-p-no">
            {# fmt:off #}
            {{-
                onsTableOfContents({
                    "title": 'Table of contents',
                    "ariaLabel": 'Sections in this page',
                    "itemsList": toc
                })
            }}
            {# fmt:on #}
        </div>

        <div class="ons-grid__col ons-col-8@m ons-col-12@s ons-u-p-no@xxs@m">
            <section id="summary">
                <h2>{{ _("Summary")}}</h2>
                <p>{{ page.summary }}</p>
            </section>

            {% include_block page.body %}

            {% if page.contact_details %}
                <section id="contact-details">
                    <h2>{{ _("Contact details") }}</h2>

                    <div>
                        <h3 class="ons-u-mb-no ons-u-fs-r--b">Name</h3>
                        <p>{{ page.contact_details.name }}</p>
                        <h3 class="ons-u-mb-no ons-u-fs-r--b">Email</h3>
                        <p>
                            <a href="mailto:{{ page.contact_details.email }}">{{ page.contact_details.email }}</a>
                        </p>
                        {% if page.contact_details.phone %}
                            <h3 class="ons-u-mb-no ons-u-fs-r--b">Phone</h3>
                            <p>
                                <a href="tel:{{ page.contact_details.phone|urlencode() }}">{{ page.contact_details.phone }}</a>
                            </p>
                        {% endif %}
                    </div>
                </section>
            {% endif %}
        </div>
    </div>

{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ mathjax() }}"></script>
{% endblock %}
