{% macro onsHeaderNew(params) %}{# This is an override of ONS "components/header/_macro.njk" #}
    {% from "components/button/_macro.njk" import onsButton %}
    {% from "components/icon/_macro.njk" import onsIcon %}
    {% from "components/navigation/_macro.njk" import onsNavigation %}
    {% from "components/browser-banner/_macro.njk" import onsBrowserBanner %}
    {% set titleTag = "h1" if params.titleAsH1 else "div" %}
    {% set openingTag = "<" + titleTag %}
    {% set closingTag = "</" + titleTag + ">" %}
    {% set currentLanguageIsoCode = "en" %}

    {% if params.language and params.language.languages %}
        {% set currentLanguage = params.language.languages | selectattr("current") | first %}
        {% set currentLanguageIsoCode = currentLanguage.isoCode %}
    {% endif %}

    <header
        class="ons-header{{ ' '+ params.classes if params.classes }}{% if params.variants is not string %}{% for variant in params.variants %}{{ ' ' }}ons-header--{{ variant }}{% endfor %}{% else %}{{ ' ' }}ons-header--{{ params.variants }}{% endif %}"
        role="banner"
    >
        {{
            onsBrowserBanner({
                "lang": currentLanguageIsoCode,
                "wide": params.wide,
                "fullWidth": params.fullWidth
            })
        }}
        {% if params.phase %}
            {% from "components/phase-banner/_macro.njk" import onsPhaseBanner %}
            {{
                onsPhaseBanner({
                    "fullWidth": params.fullWidth,
                    "wide": params.wide,
                    "hideBadge": params.phase.hideBadge,
                    "badge": params.phase.badge,
                    "html": params.phase.html
                })
            }}
        {% endif %}
        <div class="ons-header__top">
            <div class="ons-container {{ ' ons-container--full-width' if params.fullWidth }}{{ ' ons-container--wide' if params.wide }}">
                <div
                    class="ons-header__grid-top ons-grid ons-grid--flex ons-grid--between{{ ' '+ params.mastheadLogo.classes if params.mastheadLogo.classes }}{{ ' ons-grid--no-wrap ons-grid--gutterless' if not params.mastheadLogo.multipleLogos }}"
                >
                    <div class="ons-grid__col ons-col-auto">
                        {%- if not params.mastheadLogo.multipleLogos -%}

                            {% set mastheadLogo %}
                                <div class="ons-header__org-logo ons-header__org-logo--large">
                                    {% if params.mastheadLogo.large %}
                                        {{ params.mastheadLogo.large | safe }}
                                    {% else %}
                                        {{-
                                            onsIcon({
                                                "iconType": 'ons-logo-' + currentLanguageIsoCode,
                                                "altText": 'Office for National Statistics homepage'
                                            })
                                        -}}
                                    {% endif %}
                                </div>
                                <div class="ons-header__org-logo ons-header__org-logo--small">
                                    {% if params.mastheadLogo.small %}
                                        {{ params.mastheadLogo.small | safe }}
                                    {% elif params.mastheadLogo.large %}
                                        {{ params.mastheadLogo.large | safe }}
                                    {% else %}
                                        {{-
                                            onsIcon({
                                                "iconType": 'ons-logo-stacked-' + currentLanguageIsoCode,
                                                "altText": 'Office for National Statistics logo'
                                            })
                                        -}}
                                    {% endif %}
                                </div>
                            {% endset %}

                            {%- if params.mastheadLogoUrl -%}
                                <a class="ons-header__org-logo-link" href="{{ params.mastheadLogoUrl }}">{{ mastheadLogo | safe }}</a>
                            {% else %}
                                {{ mastheadLogo | safe }}
                            {% endif %}
                        {% else %}
                            <div class="ons-header__org-logo ons-header__org-logo--multi">
                                {% set logos = [params.mastheadLogo.multipleLogos.logo1, params.mastheadLogo.multipleLogos.logo2, params.mastheadLogo.multipleLogos.logo3] %}
                                {% for logo in logos %}
                                    {% set mastheadLogo %}
                                        {% if logo.logoImage != "ONS Logo" %}
                                            {{ logo.logoImage | safe }}
                                        {% else %}
                                            {{-
                                                onsIcon({
                                                    "iconType": 'ons-logo-stacked-' + currentLanguageIsoCode,
                                                    "altText": 'Office for National Statistics logo'
                                                })
                                            -}}
                                        {% endif %}
                                    {% endset %}
                                    {% if logo.logoURL %}
                                        <a class="ons-header__org-logo-link" href="{{ logo.logoURL }}">{{ mastheadLogo | safe }}</a>
                                    {% else %}
                                        {{ mastheadLogo | safe }}
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {%- endif -%}
                    </div>
                    {# Note that navLinks replaces the previous serviceLinks #}
                    {% if params.navLinks %}
                        <div class="ons-header__links ons-grid__col ons-u-ml-auto">
                            {% if params.navLinks %}
                                {# May need to be replaced with a custom button - for now use the design system one with some modifications #}
                                {% set buttonVariant = ["text-link"] %}
                                <div class="ons-grid__col ons-col-auto">
                                    {{
                                        onsButton({
                                            "text": params.navLinks.toggleNavButton.text | default("Menu"),
                                            "classes": "ons-u-fs-s--b ons-js-toggle-services button-nav",
                                            "type": "button",
                                            "variants": "text-link",
                                            "iconType": "chevron",
                                            "iconPosition": "before",
                                            "attributes": {
                                                "aria-label": params.navLinks.toggleNavButton.ariaLabel | default("Toggle menu"),
                                                "aria-controls": params.navLinks.id,
                                                "aria-expanded": "false"
                                            }
                                        })
                                    }}
                                </div>
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
            </div>
            {% if params.navLinks %}
                <nav
                    class="ons-u-d-no ons-js-services-mobile-nav navigation"
                    id="{{ params.navLinks.id }}"
                    aria-label="{{ params.navLinks.ariaLabel | default("Main navigation") }}"
                >
                    {% if params.navLinks.keyLinksList %}
                        <div class="ons-container">
                            <ul class="ons-grid ons-grid--flex-gap ons-grid--gap-40  navigation__key-links ons-list ons-list--bare">
                                {% for item in params.navLinks.keyLinksList %}
                                    {# for november prototype, nav items can have text and no link - later we would want to test that both are present before outputting an li #}
                                    {% if item.text %}
                                        <li class="ons-grid__col ons-col-4@m ons-u-mb-no">
                                            {% if item.url %}
                                                <a href="{{ item.url }}" class="navigation__link">
                                            {% endif %}
                                                    <h2 class="ons-u-fs-s--b ons-u-mb-no navigation__heading avigation__heading--key-link">{{ item.text }}</h2>
                                            {% if item.url %}
                                                </a>
                                            {% endif %}
                                            {% if item.description %}
                                                <p class="ons-u-fs-s ons-u-mb-no navigation__paragraph navigation__paragraph--key-link">{{ item.description }}</p>
                                            {% endif %}
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                    {% if params.navLinks.itemsList %}
                        <div class="ons-container">
                            <ul class="ons-grid ons-grid--flex-gap ons-grid--gap-40 ons-list ons-list--bare">
                                {% for item in params.navLinks.itemsList %}
                                    <li class="ons-grid__col ons-col-4@m ons-u-mb-no">
                                        {% for link in item.linksList %}
                                            {# for november prototype, nav items can have text and no link - later we would want to test that both are present before outputting a heading link #}
                                            {% if link.text %}
                                                {% if link.url %}
                                                    <a
                                                        href="{{ link.url }}"
                                                        class="ons-header-service-nav__link navigation__link"
                                                    >
                                                {% endif %}
                                                    <h2 class="ons-u-fs-s--b navigation__heading">
                                                        {{ link.text }}
                                                    </h2>
                                                {% if link.url %}
                                                    </a>
                                                {% endif %}
                                            {% endif %}
                                            {% if link.children %}
                                                <ul class="ons-list ons-list--bare navigation__child-list">
                                                    {% for child in link.children %}
                                                        {# for november prototype, nav items can have text and no link - later we would want to test that both are present before outputting an li #}
                                                        {% if child.text %}
                                                            <li class="ons-u-mb-no">
                                                                {% if child.url %}
                                                                    <a
                                                                        href="{{ child.url }}"
                                                                        class="ons-header-service-nav__link navigation__link"
                                                                    >
                                                                {% endif %}
                                                                    <p class="ons-u-fs-s navigation__paragraph">
                                                                        {{ child.text }}
                                                                    </p>
                                                                {% if child.url %}
                                                                    </a>
                                                                {% endif %}
                                                            </li>
                                                        {% endif %}
                                                    {% endfor %}
                                                </ul>
                                            {% endif %}
                                        {% endfor %}
                                    </li>
                            {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                </nav>
            {% endif %}
        </div>
        {% if params.navigation %}
            {{ onsNavigation(params) }}
        {% endif %}
    </header>
{% endmacro %}
