{% extends "templates/base_page.html" %}

{% block html_class %}no-scroll-behaviour{% endblock %}

{% block title %}Password required{% endblock %}

{% block body_class %}template-password-required{% endblock %}

{% block main %}
    <h1>Password required</h1>

    <p class="heading--2">Please enter the password to proceed.</p>

    <form action="{{ action_url }}" method="post">
        {% csrf_token %}

        {{ form.non_field_errors() }}
        {{ form.password.errors }}

        {% from "components/password/_macro.njk" import onsPassword %}
        <div class="ons-question ons-u-mb-l">
            {{
            onsPassword({
            "id": form.password.id_for_label,
            "name": form.password.name,
            "label": {
            "text": form.password.label
            }
            })
            }}
        </div>

        {% for field in form.hidden_fields() %}
            {{ field }}
        {% endfor %}

        {% from "components/button/_macro.njk" import onsButton %}
        {{
        onsButton({
        "text": _("Continue")
        })
        }}
    </form>
{% endblock %}
